body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 226, 233);
}

.navbar {
    padding: 0px;
    background-color: purple
}

.logo {
    height: 50px;
    width: 40px;
    margin: auto;
}

.image-div {
    /* background-color: black; */
    margin-top: 11px;
    height: 30rem;
}

.audio-container {
    /* background-color: black; */
    height: 30rem;
    /* Set the height as needed */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#audioPlayer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    /* Set the width as needed */
}

/* audio */


audio::-webkit-media-controls-panel {
    background-color: rgb(233, 226, 233);

}

audio::-webkit-media-controls-play-button {
    background-color: rgb(204, 90, 204);
    border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    position: relative;
    /* top: 20px; */
    color: #333;
}

audio input[type='range'] {
    background-color: red !important;
}



/* audio::-webkit-media-controls-timeline {
    border-radius: 40px;
    background-color: red;
}

audio::-webkit-media-controls-volume-slider {
    background-color: red;
    border-radius: 50px;

}

audio::-webkit-media-controls-mute-button {
    background-color: lightblue;
    border-radius: 50%;
} */

/*  */

.language {
    text-align: center;
    background-color: transparent;
    position: absolute;
    /* top: 70%;
    left: 62%; */
    top: 55%;
    left: 44%;
    /* transform: translate(-41%, -208%); */
    width: 50%;
    /* Set the width as needed */
}


.language select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    /* box-shadow: none; */
    outline: none;
    background-color: transparent;

}


.topimg {
    height: 100%;
    width: 100%;
    object-fit: content;

}

.topvideo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;

}

.carousel {
    display: none;
}

.c-item {
    height: 30rem;
}

.c-img {
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}


.multimedia {
    background-color: white;
    width: 80%;
    padding-top: 2px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -15px;
    border-radius: 10px;

}

.multimedia h3 {
    text-decoration: none;
    color: purple;
    cursor: pointer;
}

.heading {
    color: purple;

}

.line {

    height: 4px;
    background-color: purple;
    margin-top: 10px;

}

.desc {
    height: auto;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(224, 190, 224);
    text-align: justify;

    padding: 1rem 2.2rem 4.5rem 2.2rem;
}

.other {
    position: relative;
    bottom: 0rem;
    height: 28.125rem;
    background-color: purple;
    /* opacity: 0.8;     */
    color: white;
    padding-top: 10px;
}

#scroll-left,
#scroll-right {
    font-size: 1.875rem;
    cursor: pointer;
}

.bottom-container {
    overflow-x: auto;
    white-space: nowrap;
    /* background-color: red; */
}

.bottomimg {
    height: 19.75rem;
    width: 22.188rem;
    display: flex;
    flex-direction: column;
    /* background-color: black; */


}

.bottom-img {
    width: inherit;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 8px;
}


/* disable scroll */
.bottom-container::-webkit-scrollbar {
    display: none;
}

.bottom-section {
    height: 520px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 120px;
    /* background-color: #FFD700; */
}

.near {
    height: inherit;
    /* background-color: purple; */
    border-radius: 12px;
    color: purple;
    /* background-color: purple; */

}

.leftrighticon {
    text-align: end;
    /* background-color: purple; */
    padding: 10px 10px 0px 0px;

}

#scrollleft,
#scrollright {
    font-size: 1.5rem;
    cursor: pointer;
}

#scrollright {
    margin-right: 20px;

}

.nearby-snippet {
    display: flex;
    /* justify-content: start;
    align-items: center; */
    overflow-x: auto;
    white-space: nowrap;
    /* height: inherit; */
    padding-left: 17px;



}

.nearby-place {
    margin: auto;
    width: 14.5rem;
    margin-right: 20px;
    text-align: start;

}

.nearby-place p {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 2px;
    margin-bottom: 5px;
}

.nearby-place img {
    height: 13rem;
    object-fit: cover;
    gap: 1rem;

}

.near-img {
    width: inherit;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 8px;
}

.nearby-snippet::-webkit-scrollbar {
    display: none;
}

.review-snippet {
    background-color: purple;
    height: inherit;
    /* color: white; */
    border-radius: 12px;
}

.review-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
}

/* .stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

/* ratings */
.stars {
    display: inline-block;
    direction: rtl;
    /* Set the direction to right-to-left */
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    font-size: 1.8rem;
    color: #ffffff;
    cursor: pointer;
    order: 5;
}

.stars input[type="radio"]:checked~label {
    color: gold;
}

.rating label:nth-of-type(4) {
    order: 1;
    /* Set the order of the fourth star to 1 (second from the right) */
}

.rating label:nth-of-type(3) {
    order: 2;
    /* Set the order of the third star to 2 (third from the right) */
}

.rating label:nth-of-type(2) {
    order: 3;
    /* Set the order of the second star to 3 (fourth from the right) */
}

.rating label:nth-of-type(1) {
    order: 4;
    /* Set the order of the first star to 4 (fifth from the right) */
}

/*  */

.stars label {
    font-size: 1.8rem;

}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.averageReview {
    font-size: 1.3rem;
    font-weight: bold;
}

.totalReview {
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.reviewLine {
    height: 3px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;

}

.text-area {
    height: auto;
    margin: 5px auto;
    width: 80%;
    /* background-color: red !important; */
}


.text-area textarea {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    outline: none;
    resize: none;
}

.submitbtn {
    background-color: rgb(255, 255, 255);
    color: purple;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

@media screen and (max-width: 991px) {
    .text-area textarea {

        height: 154px;

    }

}

@media screen and (max-width: 767px) {
    .text-area textarea {

        height: 100px;

    }

    .submitbtn {
        padding: 5px 30px;

    }

    .stars label {
        font-size: 1.3rem;

    }

    .averageReview {
        font-size: 1rem;
        font-weight: bold;
    }

    .totalReview {
        font-size: 0.7rem;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 456px) {
    .bottom-section h3 {
        font-size: 13px !important;
    }

    .reviewLine {
        height: 1px;
    }

    .text-area textarea::placeholder {
        font-size: 8px;
    }

    .text-area {
        margin-bottom: 0px;
    }

    .text-area textarea {
        height: 48px;

    }


    .submitbtn {
        padding: 5px 30px;

    }

    .stars label {
        font-size: 1.1rem;

    }

    .averageReview {
        font-size: 0.8rem;

    }

    .totalReview {
        font-size: 0.5rem;

    }

}

@media screen and (max-width:382px) {
    .stars label {
        font-size: 0.9rem;

    }

    .review-top-section {
        padding-top: 5px;
    }

}

@media screen and (max-width: 361px) {

    .text-area textarea {
        height: 48px;

    }

    .text-area textarea::placeholder {
        font-size: 6px;
    }



    .submitbtn {
        padding: 1px 20px;

    }

    .stars label {
        font-size: 0.9rem;

    }

    .averageReview {
        font-size: 0.75rem;

    }

    .totalReview {
        font-size: 0.48rem;

    }

}

@media screen and (max-width: 333px) {
    .reviewLine {
        height: 1px;
    }


    .submitbtn {
        padding: 1px 20px;

    }

    .stars label {
        font-size: 0.75rem;

    }

    .averageReview {
        font-size: 0.6rem;
        font-weight: bold;
    }

    .totalReview {
        font-size: 0.38rem;
        margin-bottom: 10px;
    }

}


/* comments */
.what {
    font-size: 20px;
    font-weight: bold;
    color: purple;
}

.whatline {
    height: 2px;
    background-color: purple;
    margin-top: 1px;
    margin-bottom: 4px;

}

.comments {
    padding: 10px 0px;
    margin-bottom: 5px;

}


.star {
    color: gold;
    font-size: 1.8rem;
}


.review-info {
    font-weight: normal;
    font-size: 19px;
    color: #555;
    margin-bottom: 0px;

}

.review-date {
    font-style: italic;
    color: #777;
    font-size: 14px;
}



/* footer */


.footer1 {

    background-color: rgb(53, 8, 53);
    color: white;
    padding: 10px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;

}

.logofooter {
    /* height: 60px; */
    margin: 0 20px;
}

.logofooter img {
    /* margin: auto; */
    height: 60px;

}

/* .links { */
/* margin-left: 25px; */
/* } */


.links a {
    color: white;

    text-decoration: none;
    font-size: 15px;
}

.newsletter {
    margin-left: auto;
}

.newsletter input[type="email"] {
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    border-radius: 5px 0 0 5px;
    border: none;
    box-shadow: none;
    outline: none;
    width: 300px;

}



.newsletter input[type="submit"] {
    padding: 1px 10px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    margin-left: -7px;
    height: 32px;
}

.socials {
    padding: 8px;
    background-color: black;
    color: white;
    justify-content: space-between;


}

.socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;

}

.copywrite {
    margin-left: auto;
}

/* footers */

@media screen and (max-width:1121px) {


    .newsletter input[type="email"] {

        width: 250px;

    }


}

@media screen and (max-width:1055px) {


    .newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsletter span {
        margin-left: 0 !important;
    }

    .logofooter img {
        height: 50px;

    }



}

@media screen and (max-width:952px) {
    .logofooter img {
        height: 30px;

    }

    .links a {
        font-size: 11px;
    }

    .newsletter input[type="email"] {

        width: 200px;
        height: 25px;

    }

    .newsletter input[type="email"] ::placeholder {
        font-size: 10px;
    }


    .newsletter input[type="submit"] {
        height: 25px;
        padding: 1px 4px;


    }

    .newsletter span {
        font-size: 12px;
    }

    .copywrite {
        font-size: 13px;
    }



}

@media screen and (max-width: 768px) {
    .footer1 {
        flex-direction: column;
        align-items: center;
    }

    .newsletter {
        margin-left: 0px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;



    }

    .twoinput {

        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-width: 338px) {
    .newsletter input[type="email"] {

        width: 150px;
        height: 24px;


    }

    .newsletter input[type="email"] ::placeholder {
        font-size: 10px;
    }

    .newsletter input[type="submit"] {
        font-size: 10px;
    }

    .newsletter input[type="submit"] {
        height: 24px;
        padding: 1px 3px;


    }




}

@media screen and (max-width:407px) {
    .socials span {
        display: none;
    }

    .socials a {
        font-size: 10px;
    }

    .copywrite {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        font-size: 10px;
    }
}

/* bottom sections */

@media screen and (max-width:991px) {
    .review-snippet {
        height: 300px;
        font-size: 14px;
    }

    .nearby-snippet {
        height: 300px;
    }

    .bottom-section {
        height: 412px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width:767px) {
    .review-snippet {
        height: 220px;
        font-size: 12px;
    }

    .review-snippet h3 {
        font-size: 13px;
    }


    .nearby-snippet {
        height: 220px;
    }

    .bottom-section {
        margin-bottom: 20px;
    }

    .bottom-section h3 {
        font-size: 20px;

    }
}

@media screen and (max-width:456px) {
    .review-snippet {
        height: 150px;
        font-size: 10px;

    }

    .review-snippet h3 {
        font-size: 10px;
    }

    .nearby-snippet {
        height: 150px;
    }

    .bottom-section {
        height: 300px;
        margin-bottom: 0px;
    }

    .bottom-section h3 {
        font-size: 17px;

    }
}

@media screen and (max-width:361px) {
    .review-snippet {
        height: 125px;
        font-size: 9px;

    }

    .review-snippet h3 {
        font-size: 9px;
    }

    .nearby-snippet {
        height: 125px;
    }

    .bottom-section {
        height: 250px;

    }

    .bottom-section h3 {
        font-size: 12px;

    }
}

@media screen and (max-width:354px) {
    .review-snippet {
        height: 125px;
        font-size: 8px;

    }

    .review-snippet h3 {
        font-size: 8px;
    }


    .bottom-section {
        height: 250px;

    }

    .bottom-section h3 {
        font-size: 11px;

    }
}

@media screen and (max-width:338px) {
    .newsletter input[type="email"] {
        height: 24px;
        padding: 1px 3px;
    }


    .newsletter input[type="submit"] {
        height: 24px;
        padding: 2px 3px;


    }

}

/* looking for experience */
@media screen and (max-width:991px) {
    .other h4 {
        font-size: 15px;
    }

    .bottomimg {
        height: 19rem;
        width: 18rem;

    }

    .bottomimg div span {
        font-size: 13px;
    }

}

@media screen and (max-width:810px) {
    .other {
        height: 25rem;
    }
}

@media screen and (max-width:767px) {
    .other {
        bottom: 0rem;
        height: 20rem;
    }

    .other h4 {
        font-size: 0.938rem;
    }

    .other h3 {
        font-size: 1.25rem;
    }

    .bottomimg {
        height: 15rem;
        width: 13rem;

    }

    .bottomimg div span {
        font-size: 10px;
    }

    #scroll-left,
    #scroll-right {
        font-size: 1.5rem;
    }

}



@media screen and (max-width: 453px) {
    #explore {
        font-size: 0.813rem;
        padding: 0;

    }
}

@media screen and (max-width: 442px) {


    .other h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 405px) {


    .other h3 {
        font-size: 1rem;
    }

    #scroll-left,
    #scroll-right {
        font-size: 1.25rem;
    }

}

@media screen and (max-width: 398px) {


    .other h3 {
        font-size: 0.75rem;
    }

    .other h4 {
        font-size: 1rem;
    }

    #scroll-left,
    #scroll-right {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 360px) {
    .other {
        height: 17.25rem;
    }

    .bottomimg {
        width: 11rem;
        height: inherit;
    }

    .bottomimg div span {
        font-size: 8px;
    }

    .explorediv {
        height: 28px;
        padding: 6px !important;
    }

    #explore {
        font-size: 0.7rem;
    }

    #scroll-left,
    #scroll-right {
        font-size: 1.1rem;
    }


}

@media screen and (max-width:328px) {

    .other h4 {
        font-size: 0.75rem;
    }

    .other h3 {
        font-size: 0.6rem;
    }
}

#map {
    height: 500px;
    /* width: 100vw; */


}

.mapText {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: purple;
}