body {
    margin: 0;
    padding: 0;

}

#splash-background {
    background-image: url('../assets/images/background.jpg');
    /* background-color: black; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}


#splash-logo {
    height: 10rem;
    width: 8rem;
    /* mix-blend-mode: multiply; */
}