{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BIUVY</title>

    <!-- boostrap css -->


    <link rel="stylesheet" href="{%static 'assets/bootstrap-5.2.3/bootstrap.min.css'%}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!-- leaflet  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/description.css' %}">
</head>

<body>

    <nav class="navbar">
        <div class="container d-flex justify-content-center align-items-center">
            <a class="navbar-brand" href="">
                <img class="logo" src='{%static "assets/images/logo.png" %}' alt="logo">
            </a>
        </div>
    </nav>
    <div class="container">
        <!-- top image -->
        <div class="image-div">
            <!-- audio -->

            <div class="audio-container">
                <audio id="audioPlayer" controls>
                    <source src='{%static "assets/images/bark.mp3"%}'>
                    Your browser does not support the audio element.
                </audio>
                <div class="language">

                    <select id="languageSelect">
                        <option value="english" selected>English</option>
                        <option value="nepali">Nepali</option>
                        <option value="hindi">Hindi</option>
                        <option value="spanish">Spanish</option>
                    </select>
                </div>
            </div>
            <!-- video -->
            <video class="topvideo img-fluid rounded-4 " src="{{place_obj.video.url}}" autoplay muted controls></video>
            <!-- gallary -->
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active c-item" data-bs-interval="2000">
                        <img src='{{carousel_images.0.url}}' class="d-block w-100 rounded-4 c-img" alt="image">
                    </div>
                    {% for image in carousel_images|slice:"1:" %}
                    <div class="carousel-item c-item " data-bs-interval="2000">
                        <img src='{{image.url}}' class="d-block w-100 rounded-4 c-img" alt="image">
                    </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--  -->
        </div>
        <!-- sub headings in bottom of image -->
        <div class="multimedia container">
            <h3 class="text-center audio">Audio</h3>
            <h3 class="text-center video">Video</h3>
            <h3 class="text-center gallary">Gallary</h3>

        </div>


        <h2 class="text-start mt-2 heading">{{place_obj.place_name}}</h2>
        <div class="line"></div>
        <div class="desc">
            <p>{{place_obj.place_description}}</p>


            <img src='{{place_obj.mainImage.url}}' class="img-fluid topimg" alt="temple">



        </div>


        <!-- looking for experience -->
    </div>
    <div class="other">
        <div class="container ">

            <div class="d-flex justify-content-between">
                <div>
                    <h4>LOOKING FOR A </h4>
                    <h3>different experience?</h3>
                </div>
                <div class="d-flex justify-content-center align-items-center p-4">
                    <div class="mx-3 bg-primary rounded-3 p-2 mr-4 explorediv">
                        <h4 id="explore">Explore All</h4>
                    </div>
                    <div>
                        <i id="scroll-left" class="bi bi-arrow-left-circle-fill"></i>

                        <i id="scroll-right" class="bi bi-arrow-right-circle-fill"></i>

                    </div>

                </div>


            </div>
            <div class="d-flex gap-4 bottom-container">
                <div class="bottomimg ">

                    <img src="{%static 'assets/images/other.jpg'%}" class=" bottom-img " alt="temple">


                    <div class=" d-flex flex-column text-center">
                        <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                        <span>Check out Daily Deals and Promotion on Hotels</span>
                        <span>Easy & Fast Booking</span>

                    </div>
                </div>
                <div class="bottomimg ">
                    <img src="{%static 'assets/images/other.jpg'%}" class=" bottom-img " alt="temple">

                    <div class=" d-flex flex-column text-center">
                        <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                        <span>Check out Daily Deals and Promotion on Hotels</span>
                        <span>Easy & Fast Booking</span>

                    </div>
                </div>
                <div class="bottomimg ">
                    <img src="{%static 'assets/images/other.jpg'%}" class=" bottom-img " alt="temple">

                    <div class=" d-flex flex-column text-center">
                        <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                        <span>Check out Daily Deals and Promotion on Hotels</span>
                        <span>Easy & Fast Booking</span>

                    </div>
                </div>
                <div class="bottomimg ">
                    <img src="{%static 'assets/images/other.jpg'%}" class=" bottom-img " alt="temple">

                    <div class=" d-flex flex-column text-center">
                        <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                        <span>Check out Daily Deals and Promotion on Hotels</span>
                        <span>Easy & Fast Booking</span>

                    </div>
                </div>
                <div class="bottomimg ">
                    <img src="{%static 'assets/images/other.jpg'%}" class=" bottom-img " alt="temple">

                    <div class=" d-flex flex-column text-center">
                        <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                        <span>Check out Daily Deals and Promotion on Hotels</span>
                        <span>Easy & Fast Booking</span>

                    </div>
                </div>

            </div>
        </div>
    </div>

    
    <form action="" method='post'>
        {% csrf_token %}
        <div class="container d-flex">
            <div class="bottom-section">
                <h3>Map</h3>
                <div class="line mb-3"></div>
                <div class="map-snippet">
                    <div id="map"></div>

                </div>
            </div>
            
            <div class="bottom-section">
                <h3>Reviews and Rating</h3>
                <div class="line mb-3"></div>
                <div class="review-snippet">
                    <input type="hidden" name="place_slug" value="{{ place_obj.slug }}">
                    <div class="review-top-section">
                        <div class="stars">
                            <input type="radio" id="star5" name="rating" value="5">
                            <label for="star5">&#9733;</label>
                            <input type="radio" id="star4" name="rating" value="4">
                            <label for="star4">&#9733;</label>
                            <input type="radio" id="star3" name="rating" value="3">
                            <label for="star3">&#9733;</label>
                            <input type="radio" id="star2" name="rating" value="2">
                            <label for="star2">&#9733;</label>
                            <input type="radio" id="star1" name="rating" value="1">
                            <label for="star1">&#9733;</label>
                        </div>
                        <div class="review">
                            <div class="averageReview">4.0</div>
                            <div class="totalReview">12,012 Reviews</div>
                        </div>
                    </div>
                    <div class="reviewLine"></div>

                    <div class="text-area">
                        <textarea name="reviewtext" id="review" placeholder="Write your review here" required></textarea>


                    </div>
                    <div class="submitRate">
                        <input type="submit" class="submitbtn" value="Submit"></input>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% comment %} comments/reviews {% endcomment %}


    <div class="container">
        <p class='what'>What people Think</p>

        <div class="whatline"></div>

        {% if user.is_authenticated %}

            {% if review_obj|length <= 0 %}
                <div style="margin-top:10px" class='text-center'>
                    <p>Be the first to give a review!</p>
                </div>
                {% else %}
                    {% for review in review_obj %}
                        <div class="comments">
                            <p class="review-info">{{review.reviewer_name.first_name}} {{review.reviewer_name.last_name}}, <span class="review-date">({{review.reviewer_name.username}}), {{review.review_date}}</span></p>
                            <div class="rating">
                                <!-- Display stars based on the rating -->
                                {% for i in "12345" %}
                                    {% if i|add:'0' <= review.rating %}
                                        <span class="star">&#9733;</span>
                                    {% else %}
                                        <span class="star">&#9734;</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="content">
                                <p class="review-text">{{review.review_text}}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
        {% else %}
            <div style="margin-top:10px" class='text-center'>
                <p>Please Log in to view the reviews</p>
            </div>
        {% endif %}


    </div>






    <footer class="footer1">
        <div class="logofooter">
            <img src='{%static "assets/images/banner.png"%}' alt="Logo">
        </div>
        <div class="links">
            <a href="#"> About |</a>
            <a href="#">Privacy Policy |</a>
            <a href="#">Terms & Conditions |</a>
            <a href="#">Contact</a>
        </div>
        <div class="newsletter">
            <span class="mx-2">Newsletter:</span>
            <form action="#">
                <div class="twoinput">
                    <input type="email" placeholder="Your email">
                    <input type="submit" value="Subscribe">
                </div>
            </form>
        </div>
    </footer>
    <div class="socials d-flex ">
        <div class="d-flex align-items-center">
            <span>Socials</span>
            <a href="http://"><i class="bi bi-facebook"></i></a>
            <a href="http://"><i class="bi bi-twitter"></i></a>
            <a href="http://"><i class="bi bi-instagram"></i></a>
            <a href="http://"><i class="bi bi-youtube"></i></a>
        </div>
        <div class="copywrite">
            &copy;2020 Redwire, All rights reserved
        </div>
    </div>



    <!-- boostrap js without proper -->
    <script src="{%static 'assets/bootstrap-5.2.3/bootstrap.min.js'%}"></script>



    <script>
         {% comment %} variables  {% endcomment %}
        var coords = [{{ place_obj.latitude }}, {{place_obj.longitude}}];

    </script>

    <!-- custom js -->
    <script src="{% static 'js/description.js' %}"></script>

</body>

</html>